<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-custom" id="main-navbar">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/about">About</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/insights">Insight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>             
          </nav>
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="transbox">
                        <p>
                                This prediction model was made using a data set found on kaggle.com, originally from a Analytics Vidhya Hackathon on Healthcare Analytics. 
                            After cleaning the data in Google Colaboratory, building the neural network model with Tensorflow, and fitting the model with the data, 
                            we were able to predict the length of a hospital stay with about 42% accuracy. Though this seems like a poor score at first, no other properly completed coding submissions viewed
                            on Kaggle had scores that beat this value. This likely means that 42% could be the ceiling for accuracy in this case, given the unpredictability of healthcare. The main limitations were the size of the data set as well as
                            little to no documentation on the meanings of the columns/values. Nevertheless, if a user hypothetically had access to all of the information required,
                            they could use this model to make a prediction. This could be useful for a patient's own knowledge and efficiency in selecting a hospital, or
                            for hospital staff to keep track of and make decisions for their patients.
                            <br>
                            <br>
                            <br>
                            <h5 style="text-align: center;">Key:</h5>
                            <br>
                        <div style='margin: 0 auto; width: 500px'>
                            <p style="text-align: left;"><span style='font-weight: bold;'>Hospital Code:</span> Unique identifier for the hospital
                            <br>
                            <span style='font-weight: bold;'>Hospital Type Code:</span> Unique identifier for the type of hospital
                            <br>
                            <span style='font-weight: bold;'>Hospital City Code:</span> City code for the hospital
                            <br>
                            <span style='font-weight: bold;'>Region Code:</span> Region code for the hospital
                            <br>
                            <span style='font-weight: bold;'>Extra Rooms Available:</span> Number of extra rooms available
                            <br>
                            <span style='font-weight: bold;'>Department:</span> Department handling the patient
                            <br>
                            <span style='font-weight: bold;'>Ward Type:</span> Code for the type of ward
                            <br>
                            <span style='font-weight: bold;'>Ward Facility Code:</span> Code for the facility of the ward
                            <br>
                            <span style='font-weight: bold;'>Bed Grade:</span> Condition of Bed
                            <br>
                            <span style='font-weight: bold;'>Patient City Code:</span> City code for the patient
                            <br>
                            <span style='font-weight: bold;'>Type of Admission:</span> Description of patient's admission
                            <br>
                            <span style='font-weight: bold;'>Severity of Illness:</span> Severity of Illness at time of admission
                            <br>
                            <span style='font-weight: bold;'>Visitors with Patient:</span> Number of visitors patient has
                            <br>
                            <span style='font-weight: bold;'>Age:</span> Age of patient
                            <br>
                            <span style='font-weight: bold;'>Admission Deposit:</span> Amount deposited for stay at time of admission
                            </p>
                        </div>
                            <br>
                            <br>
                            <p style='text-align: center; font-weight: bold;'>Made by Will Cutrone, Stephen Domke, Mona Peteet, and Tom Babjak</p>


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>